*{
  font-family: sans-serif;
  transition: .2s;
  box-sizing: border-box;
}

body{
  background-color: #222;
  margin: 100px;
}

h1#titulo{
  text-align: center;
  text-decoration: underline;
}

h1, h2, div.articulo a{color: #fff;}

div.articulo a{
  text-decoration: underline;
  display: list-item;
  margin: 15px;
}

div.articulo a:hover{color: #ddd;}