*{
  box-sizing: border-box;
  font-family: sans-serif;
  transition: .3s;
}

body{margin: 0px;}

div#topbar{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background-color: #222;
  display: flex;
  align-items: center;
}

div#topbar a{
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: inset 0px 0px 0px 0px #fff;
}

div#topbar a:nth-child(1){width: 140px;}

div#topbar a:nth-child(1):hover{
  box-shadow: inset 0px 0px 0px 0px #fff;
  color: #aaa;
}

div#topbar a:hover{box-shadow: inset 0px -5px 0px 0px #fff;}

div#body{
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  top: 50px;
  background-color: #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.card{
  width: 240px;
  height: 300px;
  background-color: #f22;
  margin: 10px;
  grid-template-rows: 2;
  border-radius: 5px !important;
  overflow: hidden;
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,.3);
}

div.card div.image{
  display: grid;
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(src/violet_evergarden.jpg);
}

div.card div.info{
  display: grid;
  height: 50px;
  background-image: linear-gradient(#fff,#eee);
}

div.card div.info a{
  display: grid;
  grid-template-rows: 2;
  justify-content: center;
  align-items: center;
}